.ticTacToe {
    display: flex;
    justify-content: space-between;

    width: min(400px, 95vw);
    height: min(400px, 95vw);
    padding: 5px;
    border: 1px solid #e4e4e4;
}

.header{
    display: flex;
    flex-direction: row;
}