.square {
    display: block;
    width: min(125px,30vw);
    height: min(125px,30vw);
    border: 1px solid #e4e4e4;

    color: #e4e4e4;
    font-size: min(5em,20vw);
    font-weight: 100;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.square:hover{
    border:solid #efefef
}

span{
    margin:auto 0em;
}